.wrapper {
    background: #299FB1;
    height: 970px;
    display: none;
}

.wrapper.vis {
    display: block;
}

.main {
    height: 860px;
    width: 1920px;
    border-radius: 0px 0px 160px 0px;
    background-color: #FFFFFF;
}

.container {
    display: flex;
}

.left {
    margin-top: 35px;
    margin-left: 10px;
    width: 1100px;
}

.center {
    margin: 20px 0 0 0;
}

.puzzles-container {
    width: 387px;
    /*border: 1px solid gray;*/

    background:
        linear-gradient(90deg, #FFF 21px, transparent 1%) center,
        linear-gradient(#FFF 21px, transparent 1%) center,
        #AAA;
    background-size: 23px 23px;
}

.puzzles-container .puzzle {
    width: 70px;
    height: 70px;
}



.puzzle {
    transition: 0.1s;
    --sizing: 100;
    display: inline-block;
    background-image: url('../../img/labOne/puzzles_razobr.png');
    background-size: 500%;
    height: 90px;
    width: 90px;
    position: relative;
    cursor: all-scroll;
}

.puzzle:hover {
    filter: drop-shadow(0px 0px 3px rgb(40, 40, 40));
    z-index: 2;
}

.puzzles-bank {
    width: 820px;
    min-height: 400px;
    margin: 15px;
}

.puzzle-container {
    display: inline-block;
    width: 70px;
    height: 67px;
    border: 1px dashed #FFFFFF;
}

.puzzle-crisper {
    display: inline-block;
}

.puzzle-container .puzzle {
    margin: -15px 0px;
    padding: 14px 14px;
}

.title-one {
    background-color: #299fb1;
    margin-left: 100px;

    font-family: ProximaRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    display: inline-block;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;

    color: #FFFFFF;
}

.title-two {
    margin-top: 30px;
    margin-left: 130px;

    font-family: ProximaRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.description {
    margin-top: 5px;
    margin-left: 130px;

    font-family: ProximaRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    color: #006d7c;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.complete-button,
.next-button {
    display: none;
    opacity: 0;
    width: 50px;
    margin-left: 100px;
    background-color: #299fb1;

    font-family: ProximaRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    border-radius: 25px;
    padding: 5px 30px 5px 30px;

    color: #FFFFFF;
    cursor: pointer;
}

.right-answer,
.wrong-answer {
    transition: 2s;
    display: none;
    opacity: 0;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-family: ProximaRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #006d7c;
}

.next-button.vis,
.complete-button.vis {
    display: inline-block;
    opacity: 1;
}

.wrong-answer.vis,
.right-answer.vis {
    display: block;
    opacity: 1;
    /*animation: ShowAndFade 1s ease;*/
}

.completed-puzzle {
    position: absolute;
    top: 160px;
    display: none;
}

.completed-puzzle.vis {
    display: block;
    animation: appear 1s ease-in-out 0s 1 normal forwards;
}

.completed-puzzle-img {
    width: 385px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}